@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}

.height-container {
  display: grid;
  grid-template-columns: minmax(min(50vw, 30ch), 1fr) fit-content(400px);
  align-items: center;
}

.responsive-padding {
  padding: 0 clamp(1rem, 5%, 10rem);
}
.mobile-responsive-padding {
  padding: 0 clamp(2px, 5%, 10rem);
}

.contact-sidebar {
  display: grid;
  grid-template-columns: fit-content(32ch) minmax(min(50vw, 30ch), 1fr);
}

/* slider animation */
.slider div {
  height: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding-top: 4px;
}
.slider-text1 {
  animation: slide 10s linear infinite;
}
@keyframes slide {
  0% {
    margin-top: -400px;
  }
  5% {
    margin-top: -300px;
  }
  25% {
    margin-top: -300px;
  }
  31% {
    margin-top: -200px;
  }
  50% {
    margin-top: -200px;
  }
  55% {
    margin-top: -100px;
  }
  75% {
    margin-top: -100px;
  }
  80% {
    margin-top: -0px;
  }
  100% {
    margin-top: -0px;
  }
}

/* scroll snap */
.smol-scroll-snap {
  /* Set up container positioning */
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* padding: 0 0 1.5rem; */
  /* padding-left:3rem; */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* hide scrollbar */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* navigation drop down animation */
.custom-animation {
  animation: navbar-dropdown-anim ease-in-out forwards 0.3s;
}
@keyframes navbar-dropdown-anim {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* box shadow for loans and insurance but it is removed for now */
.loans_Insurance_shadow > div {
  -webkit-box-shadow: 1px 1px 24px 0px #cdcdcd;
  -moz-box-shadow: 1px 1px 24px 0px #cdcdcd;
  box-shadow: 1px 1px 24px 0px #cdcdcd;
}

/* menu burger animation */
#nav-icon1 {
  width: 27px;
  padding-block: 12px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  background: #6631c0;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* end of menu burger animation */

@layer components {
  /* global classes */
  .btn-bg {
    @apply bg-temp-violet hover:bg-temp-violet-dark text-white cursor-pointer ease-in-out delay-100 transition-colors;
  }
  .custom-hr {
    @apply w-14 service-box-sm:w-20 h-1.5 bg-temp-violet;
  }
  .custom-gradient {
    @apply bg-gradient-to-r from-temp-violet to-temp-violet-dark;
  }

  /* page layout classes */
  .ul-outside-mobile-navigation {
    @apply pt-10 px-2 text-base divide-y pb-28 divide-temp-violet text-white;
  }
  .ul-outside-mobile-navigation > details > summary {
    @apply flex items-center py-3 px-6 bg-white/10 justify-between;
  }
  .ul-inside-mobile-navigation {
    @apply text-sm overflow-hidden transition-[max-height] duration-200 ease-out;
  }
  .ul-inside-mobile-navigation > li {
    @apply py-3 px-9 bg-black/30;
  }
  .ul-inside-mobile-navigation > a > li {
    @apply py-3 px-9 bg-black/30;
  }
  /* all service in home page */
  .all-service-active-link {
    @apply border-b-2 font-bold text-temp-violet border-temp-violet;
  }
  .service-detail-container {
    @apply bg-white p-[20px] w-[calc(100vw_-_20px)] grid justify-between service-box-sm:w-[calc(50vw_-_30px)] service-box-lg:w-[370px] snap-center snap-always;
  }
  .service-detail-header-container {
    @apply flex gap-x-[10px] text-base font-bold items-center;
  }
  .service-detail-description {
    @apply my-[15px];
  }
  .service-detail-bottom-part {
    @apply flex justify-between items-end;
  }
  .service-detail-bottom-button {
    @apply w-[126px] h-[33px] font-black  flex items-center py-2 px-3.5 border text-temp-violet border-temp-violet hover:bg-temp-violet-dark hover:text-white ease-in-out delay-100 transition-colors text-[13px];
  }
  .loans_Insurance_shadow > div {
    @apply font-semibold text-primary-blue text-lg py-8 whitespace-nowrap;
  }
}
